<div class="grid grid-cols-3 grid-rows-4 gap-1 p-1 h-full w-full">
  <button appNumericButton (click)="onPress('1')">1</button>
  <button appNumericButton (click)="onPress('2')">2</button>
  <button appNumericButton (click)="onPress('3')">3</button>
  <button appNumericButton (click)="onPress('4')">4</button>
  <button appNumericButton (click)="onPress('5')">5</button>
  <button appNumericButton (click)="onPress('6')">6</button>
  <button appNumericButton (click)="onPress('7')">7</button>
  <button appNumericButton (click)="onPress('8')">8</button>
  <button appNumericButton (click)="onPress('9')">9</button>
  <div></div>
  <button appNumericButton (click)="onPress('0')">0</button>
  <div></div>
</div>
