@reference 'tailwindcss';

@layer components {
  .digit-btn {
    @apply px-0 bg-white border border-neutral-700 rounded cursor-pointer;

    &.selected {
      @apply bg-blue-50 border-blue-600;
    }
  }
}