@reference 'tailwindcss';

@layer components {
  .digit-btn {
    @apply px-0 bg-white border border-neutral-700 rounded cursor-pointer;
    &.selected {
      @apply bg-blue-50 border-blue-600;
    }
  }

  .message-correct {
    @apply bg-green-100 border-2 border-green-600 text-green-800;
  }

  .message-incorrect {
    @apply bg-red-100 border-2 border-red-600 text-red-800;
  }
}

