@reference 'tailwindcss';

@layer components {
  .digit-btn {
    @apply px-0 bg-white border border-neutral-700 rounded cursor-pointer;

    &.selected {
      @apply bg-blue-50 border-blue-600;
    }
  }

  .message-correct {
    @apply bg-green-100 border-2 border-green-600 text-green-800;
    animation: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .message-incorrect {
    @apply bg-red-100 border-2 border-red-600 text-red-800;
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  @keyframes pop {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    70% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes shake {

    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}